In [17]:
#initial look at the dataset
import pandas as pd
dataset = pd.read_csv('online_retail.csv')
print(dataset.head())
print(dataset.describe())
print(dataset.info())
print(dataset.isnull().sum())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

           InvoiceDate  UnitPrice  CustomerID         Country
0  2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1  2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2  2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3  2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4  2010-12-01 08:26:00       3.39     17850.0  United Kingdom
            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB
None
InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [18]:
#Data cleaning
dataset = dataset.dropna()
dataset = dataset[dataset['Quantity'] > 0]
dataset = dataset[dataset['UnitPrice'] > 0]
dataset = dataset.drop(columns=['Description'])
dataset.describe()

            Quantity      UnitPrice     CustomerID
count  397884.000000  397884.000000  397884.000000
mean       12.988238       3.116488   15294.423453
std       179.331775      22.097877    1713.141560
min         1.000000       0.001000   12346.000000
25%         2.000000       1.250000   13969.000000
50%         6.000000       1.950000   15159.000000
75%        12.000000       3.750000   16795.000000
max     80995.000000    8142.750000   18287.000000

In [19]:
#Outlier detection
print(dataset.info())
outlierColumns = ["Quantity" , "UnitPrice"]
datasetO = dataset[outlierColumns]
for col in datasetO:
    Q3 = dataset[col].quantile(0.75)
    Q1 = dataset[col].quantile(0.25)
    IQR = Q3-Q1
    lowerBound = Q3 + 1.5*IQR
    upperBound = Q1-1.5*IQR
    above_upper = (dataset[col] > upperBound).sum()
    below_lower = (dataset[col] < lowerBound).sum()
    print(f"{col}:")
    print("  Above upper bound:", above_upper)
    print("  Below lower bound:", below_lower)

<class 'pandas.core.frame.DataFrame'>
Index: 397884 entries, 0 to 541908
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    397884 non-null  object
 1   StockCode    397884 non-null  object
 2   Quantity     397884 non-null  int64
 3   InvoiceDate  397884 non-null  object
 4   UnitPrice    397884 non-null  float64
 5   CustomerID   397884 non-null  float64
 6   Country      397884 non-null  object
dtypes: float64(2), int64(1), object(4)
memory usage: 24.3+ MB
None
Quantity:
  Above upper bound: 397884
  Below lower bound: 372190
UnitPrice:
  Above upper bound: 397884
  Below lower bound: 362940